@import "~Tiie/Styles/variables.scss";

.tiie-widgets-tree__item {
    display: flex;
    justify-content: left;
}

.tiie-widgets-tree__item-title {
    padding-top: 1px;
}

.tiie-widgets-tree__item.--active .tiie-widgets-tree__item-title {
    font-weight: bold;
    color: $tiieColorBrand;
}

.tiie-widgets-tree__item-title:hover {
    cursor: pointer;
    font-weight: bold;
}

.tiie-widgets-tree__item-expander {
    width: 15px;
}

.tiie-widgets-tree__item-expander:hover {
    cursor: pointer;
    font-weight: bold;
}

.tiie-widgets-tree__item-space {
    margin-left: 8px;
}

.tiie-widgets-tree__item-childs {
    padding-left: 15px;
}

.tiie-widgets-tree__item-icon {
    width: 25px;
}

.tiie-widgets-tree__partially-parents {
    border-bottom: 2px #007bff solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    /* box-shadow: 1px 1px 1px 1px #007bff; */
}

.tiie-widgets-tree__item-icon-blank {
    width: 25px;
}
