<div class="grid-x topi-pagination topi--align-items-center topi--text-align-center">
    <div class="cell auto">
        <button class="button small __previous" name="previous">
            <i class="fas fa-chevron-left"></i>
        </button>
    </div>

    <div class="cell auto">
        <input name="page" class="__page topi-input"> z <span name="from" class="__from"></span>
    </div>

    <div class="cell auto">
        <button class="button small __next" name="next">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
</div>
