.tiie-portlet {
    border: 1px silver dotted;
    background-color: white;
}

.tiie-portlet.--no-border {
    border: none;
}

// head
.tiie-portlet__head {
    border-bottom: 1px solid #ebedf2;
    padding: 10px;
    background-color: white;

}

.tiie-portlet__head-title {
    font-size: 16px;
    display: inline-block;
    // font-weight: bold;
}

.tiie-portlet__head-icon {
    display: inline-block;
}

.tiie-portlet__head-icon:first-child {
    margin-right: 10px;
}

.tiie-portlet__head.--center {
    text-align: center;
}

.tiie-portlet__head.--bold {
    font-weight: bold;
}

.tiie-portlet__body {
    padding: 10px;
}

// body
.tiie-portlet__body.--no-padding {
    padding: 0px;
}

.tiie-portlet__body.--top-padding {
    padding-top: 10px;
}

.tiie-portlet__body.--bottom-padding {
    padding-bottom: 10px;
}

// foot
.tiie-portlet__foot {
    padding: 10px;
    border-top: 1px silver dotted;
}

// rest
.tiie-portlet.--form {
    .tiie-portlet__body {
        background-color: #fafafa;
    }
}

.tiie-portlet.--inline-block {
    display: inline-block;
}
