/** colors **/
$tiie-color-blue:#007bff;
$tiie-color-indigo:#6610f2;
$tiie-color-purple:#6f42c1;
$tiie-color-pink:#e83e8c;
$tiie-color-red:#dc3545;
$tiie-color-orange:#fd7e14;
$tiie-color-yellow:#ffc107;
$tiie-color-green:#28a745;
$tiie-color-teal:#20c997;
$tiie-color-cyan:#17a2b8;
$tiie-color-white:#fff;
$tiie-color-gray:#6c757d;

$tiie-color-primary:#007bff;
$tiie-color-secondary:#6c757d;
$tiie-color-success:#28a745;
$tiie-color-info:#17a2b8;
$tiie-color-warning:#ffc107;
$tiie-color-error:crimson;
$tiie-color-danger:#dc3545;

$tiie-color-light:#f8f9fa;
$tiie-color-dark:#343a40;
// --gray-dark: #343a40;

