.tiie-topbar {
    border-bottom: 1px silver solid;
    background-color: white;
    font-size: 12px;
    display: flex;

    .__logo {
        color: #c871ce;
        font-size: 22px;
        width: 25%;
    }

    .__icons {
        width: 25%;
        text-align: right;
        color: #dc85c9;
        display: flex;
        align-items: center;
        font-size: 25px;
        justify-content: space-around;
    }

    .__search {
        width: 50%;
        display: flex;
        justify-content: space-around;
        padding-top: 5px;

        .__input {
            display: inline-block;width: 90%;
        }
    }

}
