.tiie-section {
    border: 1px #EBEFF2 solid;
    padding: 10px;
    // font-size: 12px;
}

.tiie-section__head {}

.tiie-section__title {
    font-size: 17px;
    font-weight: bold;
}

.tiie-section__body {}

.tiie-section__foot {}
