@import '~Tiie/styles/tiie-variables.scss';

.tiie-table {
    border : 1px whitesmoke solid;
    width: 100%;
    border-spacing: 0px;
    border-collapse: separate;

    thead {
        th {

        }
    }

    tbody {
        td {
            padding: 5px;
            border-bottom: 1px whitesmoke solid;
        }
    }
}
