.topi-checkbox-list {
    background-color: white;

    .__item {
        display: flex;
        align-items: center;

        .__checkbox {
            padding: 0;
            margin: 0;
        }

        .__label {
            padding: 0;
            margin: 0;
        }
    }
}

.topi-checkbox-list.--border {
    border : 1px #cacaca solid;
    border-radius: 5px;
    padding: 5px;
}

.topi-checkbox-list.--error {
    background-color: #fbeaea;
    border: 1px red solid;
    color: red;
}
