.topi-checkboxList {
    font-size: 12px;
    background-color: white;

    .__item {
        display: flex;
        align-items: center;

        .__checkbox {
            padding: 0;
            margin: 0;
        }

        .__label {
            font-size: 12px;
            padding: 0;
            margin: 0;
        }
    }
}

.topi-checkboxList.--border {
    border : 1px #cacaca solid;
    padding: 5px;
}

.topi-checkboxList.--error {
    background-color: #fbeaea;
    border: 1px red solid;
    color: red;
}
