.topi-portlet {
    border: 1px silver dotted;
    background-color: white;

    .topi-portlet__head {
        border-bottom: 1px solid #ebedf2;
        padding: 10px;
        background-color: white;

        .topi-portlet__icon {
            display: inline-block;
        }

        .topi-portlet__icon:first-child {
            margin-right: 10px;
        }

        .topi-portlet__title {
            font-size: 16px;
            display: inline-block;
            // font-weight: bold;
        }
    }

    .topi-portlet__head.--center {
        text-align: center;
    }

    .topi-portlet__head.--bold {
        font-weight: bold;
    }

    .topi-portlet__body {
        padding: 10px;
    }

    .topi-portlet__body.--no-padding {
        padding: 0px;
    }

    .topi-portlet__body.--top-padding {
        padding-top: 10px;
    }

    .topi-portlet__body.--bottom-padding {
        padding-bottom: 10px;
    }

    .topi-portlet__foot {
        padding: 10px;
        border-top: 1px silver dotted;
    }
}

.topi-portlet.--form {
    .topi-portlet__body {
        background-color: #fafafa;
    }
}

.topi-portlet.--inline-block {
    display: inline-block;
}
