@import 'topi-variables';

.topi-groups-buttons > :first-child{
    border-radius: 5px 0px 0px 5px;
}

.topi-groups-buttons > :last-child {
    border-radius: 0px 5px 5px 0px;
}

.topi-groups-buttons > * {
    display: inline-block;
}
