/** colors **/
$topi-color-blue:#007bff;
$topi-color-indigo:#6610f2;
$topi-color-purple:#6f42c1;
$topi-color-pink:#e83e8c;
$topi-color-red:#dc3545;
$topi-color-orange:#fd7e14;
$topi-color-yellow:#ffc107;
$topi-color-green:#28a745;
$topi-color-teal:#20c997;
$topi-color-cyan:#17a2b8;
$topi-color-white:#fff;
$topi-color-gray:#6c757d;
$topi-color-primary:#007bff;
$topi-color-secondary:#6c757d;
$topi-color-success:#28a745;
$topi-color-info:#17a2b8;
$topi-color-warning:#ffc107;
$topi-color-danger:#dc3545;
$topi-color-light:#f8f9fa;
$topi-color-dark:#343a40;
// --gray-dark: #343a40;

