@import 'topi-variables.scss';
@import 'topi-button-wrapper.scss';
@import 'topi-button.scss';
@import 'topi-checkbox-list.scss';
@import 'topi-dialog.scss';
@import 'topi-form.scss';
@import 'topi-input.scss';
@import 'topi-input-select.scss';
@import 'topi-portlet-light.scss';
@import 'topi-portlet.scss';
@import 'topi-section.scss';
@import 'topi-table.scss';
@import 'topi-textarea.scss';
@import 'topi-toolbar.scss';
@import 'topi-topbar.scss';
@import 'topi-groups.scss';

@import 'topi-vc-loader.scss';
@import 'topi-vw-pagination.scss';

/** margin **/
.topi--margin-none {
    margin: 0px;
}

.topi--margin-10 {
    margin: 10px;
}

.topi--margin-top-10 {
    margin-top : 10px;
}

.topi--margin-bottom-10 {
    margin-bottom : 10px;
}

.topi--margin-left-10 {
    margin-left : 10px;
}

.topi--margin-right-10 {
    margin-right : 10px;
}

.topi--margin-vertical-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.topi--margin-horizontal-10 {
    margin-left: 10px;
    margin-right: 10px;
}

/** padding **/
.topi--padding-none {
    padding: 0px;
}

.topi--padding-10 {
    padding: 10px;
}

.topi--padding-bottom-10 {
    padding-bottom: 10px;
}

.topi--padding-top-10 {
    padding-top: 10px;
}

.topi--padding-left-10 {
    padding-left: 10px;
}

.topi--padding-right-10 {
    padding-right: 10px;
}

.topi--padding-vertical-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.topi--padding-horizontal-10 {
    padding-left: 10px;
    padding-right: 10px;
}

/** space **/
.topi--space-10 {
    margin: 10px;
    padding: 10px;
}

.topi--space-horizontally-10 {
    padding-left: 10px;
    padding-right: 10px;

    margin-left: 10px;
    margin-right: 10px;
}

.topi--space-vertical-10 {
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.topi--space-bottom-10 {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.topi--space-right-10 {
    padding-right: 10px;
    margin-right: 10px;
}

.topi--space-left-10 {
    padding-left: 10px;
    margin-left: 10px;
}

.topi--space-top-10 {
    padding-top: 10px;
    margin-top: 10px;
}

.topi--display-inline {
    display: inline;
}

.topi--display-block {
    display: block;
}

.topi--display-contents {
    display: contents;
}

.topi--display-flex {
    display: flex;
}

.topi--display-grid {
    display: grid;
}

.topi--display-inline-block {
    display: inline-block;
}

.topi--display-inline-flex {
    display: inline-flex;
}

.topi--display-inline-grid {
    display: inline-grid;
}

.topi--display-inline-table {
    display: inline-table;
}

.topi--display-list-item {
    display: list-item;
}

.topi--display-run-in {
    display: run-in;
}

.topi--display-table {
    display: table;
}

.topi--display-table-caption {
    display: table-caption;
}

.topi--display-table-column-group {
    display: table-column-group;
}

.topi--display-table-header-group {
    display: table-header-group;
}

.topi--display-table-footer-group {
    display: table-footer-group;
}

.topi--display-table-row-group {
    display: table-row-group;
}

.topi--display-table-cell {
    display: table-cell;
}

.topi--display-table-column {
    display: table-column;
}

.topi--display-table-row {
    display: table-row;
}

.topi--display-none {
    display: none;
}

.topi--display-initial {
    display: initial;
}

.topi--display-inherit {
    display: inherit;
}

/** border **/
.topi--border-top-1--primary {
    border-top: 1px $topi-color-primary solid;
}

.topi--border-top-2--primary {
    border-top: 2px $topi-color-primary solid;
}

.topi--border-top-3--primary {
    border-top: 3px $topi-color-primary solid;
}

.topi--border-1 {
    border : 1px #ededed solid;
}

.topi--border-top-1 {
    border-top : 1px #cacaca solid;
}

.topi--border-bottom-1 {
    border-bottom : 1px #cacaca solid;
}

.topi--border-left-1 {
    border-left : 1px #cacaca solid;
}

.topi--border-right-1 {
    border-right : 1px #cacaca solid;
}

.topi--border-bottom-dotted-1 {
    border-bottom : 1px #cacaca dotted;
}

/** text-align */
.topi--text-align-left {
    text-align: left;
}

.topi--text-align-right {
    text-align: right;
}

.topi--text-align-center {
    text-align: center;
}

.topi--text-align-justify {
    text-align: justify;
}

.topi--text-align-initial {
    text-align: initial;
}

.topi--text-align-inherit {
    text-align: inherit;
}

/** align-items */
.topi--align-items-stretch {
    align-items: stretch;
}

.topi--align-items-center {
    align-items: center;
}

.topi--align-items-flex-start {
    align-items: flex-start;
}

.topi--align-items-flex-end {
    align-items: flex-end;
}

.topi--align-items-baseline {
    align-items: baseline;
}

.topi--align-items-initial {
    align-items: initial;
}

.topi--align-items-inherit {
    align-items: inherit;
}

/** width **/
.topi--width-100 {
    width: 100%;
}

.topi--width-75 {
    width: 75%;
}

.topi--width-50 {
    width: 50%;
}

.topi--height-100 {
    height: 100%;
}

.topi--height-75 {
    height: 75%;
}

.topi--height-50 {
    height: 100%;
}

/** background **/
.topi--background-color-second {
    background-color: white;
}

.topi--border-top--primary {
    border-top: 1px;
}

/** hover **/
%topi--hover:hover {
    cursor: pointer;
}

.topi--hover:hover {
    @extend %topi--hover:hover;
}

.topi--no-resize {
    resize: none;
}

/** link **/
.topi--link {

}

.topi--link:hover{

}

/** selected **/
.topi--selected {
    font-weight: bold;
}

/** modyficators **/
.--hover {
    cursor: pointer;
    color: #007bff;
}

.--no-padding {
    padding: 0px;
}

.--top-padding {
    padding-top: 10px;
}

.--bottom-padding {
    padding-bottom: 10px;
}
