.topi-vw-pagination {
    font-size: 20px;

    i:hover {
        cursor: pointer;
        font-weight: bold;
    }

    i.--disabled {
        color: whitesmoke;
    }

    .topi-vw-pagination__previous {

    }

    .topi-vw-pagination__page {
        width: 40%;
    }

    .topi-vw-pagination__from {

    }

    .topi-vw-pagination__next {

    }
}
