.topi-form {
    .__label {

    }

    .__fields {
        .__label.--error {
            color: red;
        }

        .__cell {

        }

        .__section {
            font-size: 15px;
            font-weight: bold;
        }

        .__cell.--error {
            background-color: #ffebeb;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .__notice {

        }

        .__notice.--error {
            color: red;
        }
    }

}
