.topi-portlet {
    border: 1px silver dotted;
    background-color: white;

    .__head {
        border-bottom: 1px solid #ebedf2;
        padding: 10px;
        background-color: white;

        .__icon {
            display: inline-block;
        }

        .__icon:first-child {
            margin-right: 10px;
        }

        .__title {
            font-size: 16px;
            display: inline-block;
            // font-weight: bold;
        }
    }

    .__head.--center {
        text-align: center;
    }

    .__head.--bold {
        font-weight: bold;
    }

    .__body {
        padding: 10px;
    }

    .__body.--no-padding {
        padding: 0px;
    }

    .__body.--top-padding {
        padding-top: 10px;
    }

    .__body.--bottom-padding {
        padding-bottom: 10px;
    }

    .__foot {
        padding: 10px;
        border-top: 1px silver dotted;
    }
}

.topi-portlet.--form {
    .__body {
        background-color: #fafafa;
    }
}
