<div class="tiie-dialog__dialog">
    {{?
        it.buttons.find(button => button.section == 'header')
        || it.title
    }}
    <div class="tiie-dialog__header grid-x">
        {{? it.title}}
            <div class="cell auto tiie-dialog__title">{{= it.title}}</div>
        {{?}}
        {{? it.buttons.find(button => button.section == 'header')}}
            <div class="cell auto tiie-dialog__icons">
                {{~ it.buttons.filter(button => button.section == 'header') :value}}
                <button class="tiie-button--{{= value.type}}" data-id="{{= value.id}}">{{= value.label}}</button>
                {{~}}
            </div>
        {{?}}
    </div>
    {{?}}

    {{? it.content}}
    <div class="tiie-dialog__content">
        {{= it.content}}
    </div>
    {{?}}

    {{?
        it.buttons.find(button => button.section == 'footer.left')
        || it.buttons.find(button => button.section == 'footer.center')
        || it.buttons.find(button => button.section == 'footer.right')
    }}
    <div class="__footer grix-x">
        {{? it.buttons.find(button => button.section == 'footer.left')}}
            <div class="cell auto tiie--text-align-left tiie--padding-10">
                {{~ it.buttons.filter(button => button.section == 'footer.left') :value}}
                <button class="tiie-button--{{= value.type}}" data-id="{{= value.id}}">{{= value.label}}</button>
                {{~}}
            </div>
        {{?}}
        {{? it.buttons.find(button => button.section == 'footer.center')}}
            <div class="cell auto tiie--text-align-center tiie--padding-10">
                {{~ it.buttons.filter(button => button.section == 'footer.center') :value}}
                <button class="tiie-button--{{= value.type}}" data-id="{{= value.id}}">{{= value.label}}</button>
                {{~}}
            </div>
        {{?}}
        {{? it.buttons.find(button => button.section == 'footer.right')}}
            <div class="cell auto tiie--text-align-right tiie--padding-10">
                {{~ it.buttons.filter(button => button.section == 'footer.right') :value}}
                <button class="tiie-button--{{= value.type}}" data-id="{{= value.id}}">{{= value.label}}</button>
                {{~}}
            </div>
        {{?}}
    </div>
    {{?}}
</div>
