<div class="__dialog" name="">
    {{?
        it.buttons.find(button => button.section == 'header')
        || it.title
    }}
    <div class="__header grid-x" name="">
        {{? it.title}}
            <div class="cell auto __title" name="">{{= it.title}}</div>
        {{?}}
        {{? it.buttons.find(button => button.section == 'header')}}
            <div class="cell auto __icons" name="">
                {{~ it.buttons.filter(button => button.section == 'header') :value}}
                <button class="topi-button--{{= value.type}}" data-id="{{= value.id}}">{{= value.label}}</button>
                {{~}}
            </div>
        {{?}}
    </div>
    {{?}}

    {{? it.content}}
    <div class="__content" name="">
        {{= it.content}}
    </div>
    {{?}}

    {{?
        it.buttons.find(button => button.section == 'footer.left')
        || it.buttons.find(button => button.section == 'footer.center')
        || it.buttons.find(button => button.section == 'footer.right')
    }}
    <div class="__footer grix-x" name="">
        {{? it.buttons.find(button => button.section == 'footer.left')}}
            <div class="cell auto topi--text-align-left topi--padding-10" name="">
                {{~ it.buttons.filter(button => button.section == 'footer.left') :value}}
                <button class="topi-button--{{= value.type}}" data-id="{{= value.id}}">{{= value.label}}</button>
                {{~}}
            </div>
        {{?}}
        {{? it.buttons.find(button => button.section == 'footer.center')}}
            <div class="cell auto topi--text-align-center topi--padding-10" name="">
                {{~ it.buttons.filter(button => button.section == 'footer.center') :value}}
                <button class="topi-button--{{= value.type}}" data-id="{{= value.id}}">{{= value.label}}</button>
                {{~}}
            </div>
        {{?}}
        {{? it.buttons.find(button => button.section == 'footer.right')}}
            <div class="cell auto topi--text-align-right topi--padding-10" name="">
                {{~ it.buttons.filter(button => button.section == 'footer.right') :value}}
                <button class="topi-button--{{= value.type}}" data-id="{{= value.id}}">{{= value.label}}</button>
                {{~}}
            </div>
        {{?}}
    </div>
    {{?}}
</div>
