.tiie-form__label {

}

.tiie-form__label.--error {
    color: red;
}

.tiie-form__row:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.tiie-form__fields {}

.tiie-form__cell {

}

.tiie-form__section {
    font-size: 15px;
    font-weight: bold;
}

.tiie-form__cell.--error {
    background-color: #ffebeb;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tiie-form__notice {

}

.tiie-form__notice.--error {
    color: red;
}
